{% extends "base.html" %}

{% block content %}
    <div class="row mt-3 mb-5">
        <h1>Smart Building</h1>
    </div>
    <div class="container buttonsArea">
        <div class="row">
            {% if val == 'off' %}
            <div class="col-xs-12 col-md-4">
                <a href="/updateDB" type="button" class="btn btn-primary btn-lg actionBtn">ON</a>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="26" height="26" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div class="alert-text">
                      Not Recording
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xs-12 col-md-4">
                <a href="/updateDB" type="button" class="btn btn-danger btn-lg actionBtn">OFF</a>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="26" height="26" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <div class="alert-text">
                      Recording
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <form class="row mt-2" action="" method='POST' name="myform">
                {{ form.csrt_token }}
                <div class="col-xs-12 col-md-4">
                    {{form.submit(class_="btn btn-dark btn-lg generateBtn")}}
                </div>
                <div class='col-xs-5 col-md-3'>
                    {{form.startdate(class_='datepicker form-control startPicker')}} {{form.hidden_tag()}}
                </div>
                <div class='col-xs-2 col-md-1'>
                    <span id="dateSeperator"> - </span> 
                </div>
                <div class='col-xs-5 col-md-3'>
                    {{form.enddate(class_='datepicker form-control endPicker')}} {{form.hidden_tag()}}
                </div>
        </form>
        {% if res %}
        <div class="row mt-2">
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-xs-12 col-md-7">
                {% if res != 'Please enter a valid date range' %}
                <a href={{res}} class="btn btn-primary downloadBtn"> Download </a>
                {% else %}
                <div class="alert alert-danger d-flex align-items-center error" role="alert">
                    <div class="alert-text">
                      {{res}}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
