<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasIndex" aria-labelledby="offcanvasIndecLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasIndexLabel">Welcome Big Brother!</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="container" id="welcome">
            <p>With me you can control the smart building system :)</p>
            <p>I have 4 different tabs - <b>home page, status, sensors and scheduler</b></p>
            <p><b>home page</b> - Turn the system on/off, watch how much time is left until a schedule starts/ends and generate csv files of system data from the past.</p>
            <p><b>status</b> - Watch the status of the sensors - you can know if a sensor is not working and why.</p>
            <p><b>sensors</b> - Here you can see all of the system's sensors details - picture, location and description.</p>
            <p><b>scheduler</b> - Our system is pretty versatile, you can pick a date range in which the system will work.</p>
            <p>Visit our project's <a href="https://github.com/ariele2/IoT"> Git </a></p>
            <p>Enjoy :)</p>
      </div>
    </div>
</div>