<div class="modal fade" id="restartModal" tabindex="-1" aria-labelledby="restartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restartModalLabel">Notice!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Please do not abuse this button.</p>
                <p> Use this only when a system refresh is needed. </p>
            </div>
            <div class="modal-footer d-flex">
                <a href="/restartSystem" class="btn btn-danger downloadBtn"> Restart </a>
            </div>  
        </div>
    </div>
</div>