{% extends "base.html" %}

{% block content %}

<h1 align="center" class="mt-3 mb-5"> Sensors Status </h1>
<!--- should loop here on the items in the database and show them in the table --->
<div class="continer-md">
    <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col">Reason</th>
          </tr>
        </thead>
        <tbody>
          {% for sensor, data in active_sensors.items() %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{sensor}}</td>
            {% if data == 1 %}
            <td class="table-success">Active</td>
            {% elif data == 0 %}
            <td class="table-warning">InActive</td>
            <td> Didn't report back for a while </td>
            {% elif data == 2 %}
            <td class="table-danger">Error</td>
            <td> An error with the received data </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>


{% endblock %}