{% extends "base.html" %}

{% block content %}

<h1 align="center" class="mt-3 mb-5"> Components Status </h1>
<!--- should loop here on the items in the database and show them in the table --->
<div class="continer-md">
    <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Component</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ESP32-1</td>
            <!--- if working - success, else - danger --->
            <td class="table-success">Active</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Ultrasonic-1</td>
            <td class="table-danger">InActive</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ultrasonic-2</td>
            <td class="table-success">Active</td>
          </tr>
        </tbody>
      </table>
</div>


{% endblock %}