.btn {
    font-size: 30px !important;
}

h1 {
    margin-top: 5% !important;
    font-size: 45px !important;
    font-weight: 700 !important;
}


.center {
    text-align: center;
}

.buttonsArea {
    border: 1px solid black;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: 5%;
}

.form-control {
    width: 85% !important;
    height: 60px !important;
    font-size: 18px !important;
    text-align: center;
}

.alert {
    width: 75% !important;
}

.alert-text {
    padding-left: 30%;
    font-size: 22px;
}

.actionBtn {
    padding-left: 81px !important;
    padding-right: 81px !important;
}

span {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 60%;
    right: 69%;
}

.endPicker {
    position: relative;
    right: 17%;
}

.startPicker {
    position: relative;
    right: 1%;
}

.generateBtn {
    position: relative;
    right: 1.5%;
}

.downloadBtn {
    text-align: center;
    position: relative;
    top: 20%;
    right: 12.5%;
}

.error {
    text-align: center;
    position: relative;
    top: 20%;
}